.col-info-label
{
    font-size: 15px;
    color: rgb(70, 70, 70);
    // font-weight: bold;
    // border: solid 1px;
    // border: 1px solid rgb(189, 189, 189);
}

.col-info-value
{
    width: 150px;
    max-width: 200px;
    height: 20px;
    border: 1px solid;
    border-color: rgb(67, 115, 148);
}