.chart-settings-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

    row-gap: 0px;
    column-gap: 0px;

    background-color: rgb(255, 255, 255);
    // border: solid 1px;
    // border-color: rgb(200, 200, 200);
}

.label-column-select
{
    flex-grow: 0;
    height: 95px;
    border: 1px solid rgb(189, 189, 189);
}

.data-column-select-container
{
    flex-grow: 0;
    // height: 40px;
    border: 1px solid rgb(189, 189, 189);
}

.data-column-select
{
    font-size: 12px;
}

.display-chart-settings-button
{
    font-size: 12px;
}