.xy-chart-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    row-gap: 0px;
    column-gap: 0px;

    background-color: rgb(255, 255, 255);
    // border: solid 1px;
    // border-color: rgb(200, 200, 200);
}

.xy-chart-area
{
    max-width: 500px;
    overflow: scroll;
}

.xy-chart-settings
{
    font-size: 16px;
}

.xy-display-chart-settings-button
{
    font-size: 16px;
}

.xy-hide-chart-settings-button
{
    font-size: 16px;
}