.chart-container
{
    font-size: 16px;
}

.chart-area
{
    max-width: 500px;
    overflow: scroll;
}

.chart-settings
{
    font-size: 16px;
}

.display-chart-settings-button
{
    font-size: 16px;
}

.hide-chart-settings-button
{
    font-size: 16px;
}