.column-group
{
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    grid-template-columns: 70px 100px;
    grid-template-rows: 36px 36px 20px;

    // background-color: rgb(255, 255, 255);
    border: solid 1px;
    border-color: rgb(151, 151, 151);
}

#col-type-select-label
{
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    font-size: 14px;
    text-align: left;
    user-select: none;
}

#col-type-select
{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#col-gen-method-select-label
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    font-size: 14px;
    text-align: left;
    user-select: none;
}

#col-gen-method-select
{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}