.file-group
{
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 52px 20px 20px;

    // background-color: rgb(255, 255, 255);
    border: solid 1px;
    border-color: rgb(151, 151, 151);
}

#new-file
{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#open-file
{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#save-file
{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#new-file-label
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    font-size: 14px;
    text-align: center;
    user-select: none;
}

#open-file-label
{
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    font-size: 14px;
    text-align: center;
    user-select: none;
}

#save-file-label
{
    grid-row: 2 / 3;
    grid-column: 3 / 4;

    font-size: 14px;
    text-align: center;
    user-select: none;
}