.row-and-cols-group
{
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    grid-template-columns: 32px 32px 32px;
    grid-template-rows: 34px 34px 20px;

    // background-color: rgb(255, 255, 255);
    border: solid 1px;
    border-color: rgb(151, 151, 151);
}

.row-and-cols-group-label
{
    grid-row: 3 / 4;
    grid-column-start: 1;
    grid-column-end: -1;

    padding: 0px 0px;
    margin: 0px 0px;

    background-color: rgb(236, 236, 236);

    font-size: 12px;
    color: rgb(70, 70, 70);
    text-align: center;
    user-select: none;
}


#add-row-above
{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#add-row-below
{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#delete-row
{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#add-col-right
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#add-col-left
{
    grid-row: 2 / 3; 
    grid-column: 2 / 3;
}

#delete-col
{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}