table
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-collapse: collapse;
}

td
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-collapse: collapse;
}

th
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-collapse: collapse;
}

table.fixed
{
    table-layout: fixed;
    width: 1000px;
}

table.fixed tr
{
    overflow: hidden;
}

table.fixed td
{
    overflow: hidden;
}

.activeCell
{
    background-color:  skyblue;
    border: 2px solid rgb(0, 0, 0);
}

.general-cell
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);
}

.cell-textarea
{
    resize: none;
}

.cell-container
{
    display: inline-block;
}


// setari pt. coloane de tip header (titlu, nume de variabila)
.col-title-text
{
    // setari pentru textul din interior
    text-align: middle;
    vertical-align: middle;
    color:rgb(0, 0, 0);
    // font-weight: bold;
    background-color: rgb(230, 230, 230);
}

a.var-name-text
{
    // setari pentru textul din interior
    text-align: middle;
    vertical-align: middle;
    color:rgb(130, 130, 130);
}